.nav-container {
	border-radius: 0;
}

.login-title-container {
	text-align: center;
}

.align-center {
	text-align: center;
}

.login-secret-input {
	font-size: 28px;
}

.menu-link > a {
	font-size: 11px;
	line-height: 22px;
	font-weight: 500;
	text-transform: uppercase;
	color: #93c54b;
}
